.contactFirstRow {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.buttonRow {
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

.buttons {
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
