.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  justify-content: center;

  main {
    margin-top: 10vh;
    width: 693px;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.controls {
  margin-top: 64px;

  display: flex;
  justify-content: flex-end;

  button {
    padding: 6px 24px;
  }

  > *:not(:last-child) {
    margin-right: 16px;
  }
}
