.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: min-content;
}

.signup {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  align-items: center;
  width: min-content;
}

.link {
  color: var(--primary);
}

.alternative {
  display: grid;
  row-gap: 4px;

  text-align: center;
  font-size: 14px;
}
