.table {
  border-collapse: collapse;

  tr td:first-child > div {
    padding-left: 16px;
  }

  tr td:last-child > div {
    padding-right: 16px;
  }

  td {
    height: inherit;
  }

  tr td {
    div {
      border: 1px solid var(--accent-20);
    }

    &:first-child > div {
      border-right: none;
    }

    &:last-child > div {
      border-left: none;
    }

    &:not(:first-child):not(:last-child) > div {
      border-left: none;
      border-right: none;
    }
  }
}
