.headerRow {
  td > div {
    font-size: 12px;

    padding-top: 8px;
    padding-bottom: 8px;

    background-color: var(--accent-10);
    color: var(--accent-70);
  }

  td:first-child > div {
    border-top-left-radius: 4px;
  }

  td:last-child > div {
    border-top-right-radius: 4px;
  }
}
