.container {
  width: 100%;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 20px;

  margin: 0 auto;
  margin-top: 10vh;
  max-width: 926px;
  border: 1px solid black;
  height: 100vh;
}

.content {
  place-self: start;
}
