.login {
  width: 300px;

  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.button {
  margin-top: 16px;
}

.link {
  color: var(--primary);
}

.alternative {
  display: grid;
  row-gap: 4px;

  text-align: center;
  font-size: 14px;
}
